.download-main {
  background: #f4f7f9;
  text-align: center;
  padding-bottom: 40px;
}
.download-main .doc-scroll {
  overflow-y: hidden;
  padding-left: 10px;
}
.download-title {
  position: relative;
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: normal;
  font-size: 15px;
  color: #062033;
}
.download-title:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  background: #dce1e5;
}
.doc-list {
  text-align: left;
  margin-top: 30px;
}
.doc-list .doc-item {
  width: 110px;
  margin-left: 13px;
  display: inline-block;
  text-align: center;
}
.doc-list .doc-item img {
  width: 100%;
  height: 125px;
}
.doc-list .doc-item .doc-title {
  padding: 8px 0 5px;
  color: #062033;
  font-size: 14px;
  font-weight: normal;
}
.doc-list .doc-item p {
  font-size: 12px;
  color: #949ba1;
}
.video-main {
  text-align: center;
}
.video-list {
  margin-top: 25px;
}
.video-list .video-item {
  margin-bottom: 20px;
}
.video-list .thumb {
  position: relative;
  width: 273px;
  height: 162px;
  margin: 0 auto;
  overflow: hidden;
}
.video-list .thumb img {
  width: 100%;
}
.video-list .thumb .play-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../img/download/play.png) no-repeat center center;
  background-size: 78px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.video-list .thumb .play-btn:active,
.video-list .thumb .play-btn.play {
  animation: play 1s;
}
.video-list p {
  height: 40px;
  line-height: 40px;
}
@keyframes play {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(10);
    opacity: 0;
  }
}
