.tab-container .tab-title {
  text-align: center;
}
.tab-container .tab-title a {
  width: inherit;
  padding: 2.8% 12px;
}
.news-list > li {
  border-bottom: 4px solid #ededed;
}
.news-list .news-item {
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
}
.news-list h2 {
  padding: 10px 0;
  font-size: 14px;
  color: #3c4955;
  font-weight: normal;
  overflow: hidden;
}
.news-list .content-wrap img {
  float: right;
  width: 109px;
  margin-left: 7%;
  height: 68px;
  margin-top: 3px;
}
.news-list .content-wrap span {
  margin-left: 9px;
  position: relative;
  padding-left: 7px;
}
.news-list .content-wrap span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  width: 3px;
  height: 3px;
}
.news-list .content-wrap span.company-news:before {
  background: #f92d61;
}
.news-list .content-wrap span.industry-news:before {
  background: #68cfff;
}
.news-list .content-wrap p {
  color: #c2c5c8;
  font-style: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news-list .content-wrap p:last-child {
  padding-top: 6px;
}
.news-list .recmand {
  padding-left: 20px;
}
.news-list .recmand img {
  width: 100px;
  margin-left: 3%;
}
.news-list .news-relative {
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  margin: 0 14px 5px;
}
.news-list .news-relative span {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  border-bottom: 2px solid #434343;
  font-size: 14px;
  color: #434343;
}
.news-container {
  padding: 0 14px 13px;
  border-bottom: 4px solid #ededed;
}
.news-container .news-title {
  padding: 0 0 10px;
  font-size: 14px;
  color: #5b5b5b;
  font-weight: normal;
  overflow: hidden;
}
.news-container .news-info span {
  margin-left: 9px;
  position: relative;
  padding-left: 9px;
}
.news-container .news-info span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  width: 3px;
  height: 3px;
}
.news-container .news-info span.company-news:before {
  background: #f92d61;
}
.news-container .news-info span.industry-news:before {
  background: #68cfff;
}
.news-container .news-wrap {
  padding: 14px 0 0 2px;
  margin-top: 12px;
  border-top: 1px solid #f0f0f0;
}
.news-container .news-wrap img {
  width: 100%;
  margin-bottom: 10px;
}
.news-container .news-wrap p {
  padding-left: 3px;
  color: #272727;
  line-height: 20px;
}
