html,body {font-family:Arial,"microsoft yahei","宋体"; font-size: 16px;margin: 0px;padding: 0px;color:#5e5e5e; }
html * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
div, ul, li, h1, h2, h3, h4, h5, h6, img, p, dl, dt, dd, ol, th, td {margin: 0px;padding: 0px;}
li {list-style-type: none;}
p {color: #717982;font-size: 12px;line-height: 18px;}
h1, h2, h3, h4, h5, h6 {color: #062033;}
form, input, button, option, textarea, select {margin: 0px;padding: 0px;color:#000; }
textarea{resize:none;}
input{ outline:none;border: none;}
input, button, textarea, select {font:100% "微软雅黑","华文细黑",STHeiti-Light,STHeiti,"宋体";}
a {text-decoration: none; cursor:pointer;color:#a6a6a6; }
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;  }
a:active {text-decoration: none;}
table {font-size:inherit;}
th {font-weight:normal;}
img {border: 0;}
h3 {font-size: 16px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
em{ font-style:normal;}
.clear {clear: both;height: 0px;overflow: hidden;}
button,
select{outline: none;}
button{cursor: pointer;}
textarea{outline: none;border: none;}
/*清除浮动*/
.clearfix:after{content:"";display:block;height:0;font-size:0;clear:both;visibility:hidden; }
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
.clearfix{display:block;}/* End hide from IE-mac */
.center {
  margin: 0 50px;
}

/* 动画测试 */
* {
  /* transition: all .5s; */
}

.header {
  position: relative;

  .banner-bg {
    display: block;
    width: 100%;
    height: auto;
  }

  .nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    width: 100%;

    .logo {
      float: left;
      width: 100px;
      margin: 20px;
    }

    .navbar-btn {
      float: right;
      width: 20px;
      height: 20px;
      margin: 22px 18px;
      background: url(../img/home/caidan.png) no-repeat;
      background-size: 100%;
    }

  }

  .navbar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, .9);
    padding-top: 76px;

    &.active {
      display: block;
    }

    &>a {
      display: block;
      width: 87%;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      background: url(../img/icon-item.png) no-repeat;
      background-position: 35% center;
      background-size: 8px;
      border-bottom: 1px solid #3e3e3e;
      font-size: 14px;
      color: #f8f8f8;
      text-align: center;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .header-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 34%;
    bottom: 0;    
    text-align: center;

    .title {
      display: block;
      margin: 0 auto;
      width: 60%;
      padding-bottom: 9.3%;
      border-bottom: 1px solid #565f5c;
    }

    a {
      display: block;
      width: 36%;
      height: 32px;
      line-height: 32px;
      margin: auto;
      color: #fff;
    }
    
    .btn-contact:active,
    .btn-product {
      background: #f92d61;
      border: 1px solid #f92d61;
    }

    .btn-product {
      margin-top: 70px;
      margin-bottom: 32px; 
    }
    
    .btn-contact {
      background: transparent;;
      border: 1px solid #fff;
    }
  }
}
